<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- WiFi RTT permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    
    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    
    <!-- Audio recording permissions for acoustic ranging -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
    <!-- Storage permissions for temporal snapshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" 
        tools:ignore="ScopedStorage" />
    
    <!-- Hardware features -->
    <uses-feature android:name="android.hardware.wifi.rtt" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnvironmentalImagingApp"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.EnvironmentalImagingApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".PerformanceDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnvironmentalImagingApp"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".export.AdvancedDataExportActivity"
            android:exported="false"
            android:theme="@style/Theme.EnvironmentalImagingApp"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".setup.SmartSetupWizardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnvironmentalImagingApp"
            android:parentActivityName=".MainActivity" />
        
        <activity
            android:name=".analytics.SessionAnalyticsDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.EnvironmentalImagingApp"
            android:parentActivityName=".MainActivity" />
        
        <service
            android:name=".services.EnvironmentalScanService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location|microphone" />
            
    </application>

</manifest>